@import "tailwindcss";

:root {
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: var(--font-sans);
  background: #0b1220; /* deep dark blue */
  overflow-x: hidden;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
}